---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeatureCard from "../components/Feature-card.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="More than just shorter links, boost your brand recognition, get detailed insights and fully customize your links"
    />
    <script defer src="/src/javascript/script.js"></script>
    <title>Shortly | More than just shorter links</title>
  </head>
  <body>
    <Header />
    <main class="min-h-dvh relative">
      <Hero />
      <section
        id="features-section"
        class="px-6 bg-[#EFF1F7] flex flex-col gap-[6rem] pb-[6rem] xl:px-[11.5dvw] items-center"
      >
        <div
          id="link-shortening"
          class="bg-[#3A3054]
          bg-[url('images/bg-shorten-mobile.svg')]
          lg:bg-[url('images/bg-shorten-desktop.svg')]
          bg-no-repeat
          px-6
          bg-right-top
          py-6
          rounded-[0.625rem]
          min-w-full
          mt-[-80px]
          xl:min-w-[1110px]
          xl:max-w-[1110px]
          xl:py-14
          xl:px-16
          xl:bg-cover"
        >
          <form
            action=""
            class="flex flex-col gap-6 xl:flex-row"
            id="link-form"
          >
            <div class="wrapper">
              <input
                type="text"
                placeholder="Shorten a link here..."
                class="leading-[2.25] px-4 py-[0.375rem] rounded-md min-w-full xl:min-w-[769px]"
                id="user-link"
              />
              <p class="text-[##f46363] text-[1rem] hidden">
                Please add a link
              </p>
            </div>
            <button
              class="py-[0.625rem] bg-[#2BD0D0] text-white rounded-md xl:px-10 xl:py-[1.125rem] xl:text-xl font-bold"
              id="shorten-btn">Shorten It</button
            >
          </form>
        </div>
        <div id="links-container"></div>
        <div
          id="section-description"
          class="flex flex-col gap-4 xl:px-[11.5dvw] xl:justify-center xl:items-center"
        >
          <h2 class="font-bold text-[1.75rem] text-center xl:text-[2.5rem]">
            Advanced Statistics
          </h2>
          <p
            class="leading-[1.75] text-gray-400 text-center xl:text-[1.125rem]"
          >
            Track how your links are performing across the web with our advanced
            statistics dashboard
          </p>
        </div>

        <div
          id="features"
          class="flex flex-col xl:flex-row xl:min-h-[400px] xl:min-w-full"
        >
          <FeatureCard
            img="images/icon-brand-recognition.svg"
            alt="a growing bars graph"
            heading="Brand Recognition"
            description="Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content."
          />
          <div
            id="cyan-line"
            class="min-h-24 flex justify-center xl:min-w-8 xl:items-center xl:flex-1"
          >
            <div
              id="line"
              class="min-h-full w-2 bg-cyan-400 xl:min-w-full xl:min-h-2"
            >
            </div>
          </div>
          <FeatureCard
            img="images/icon-detailed-records.svg"
            alt="a circular boost meter"
            heading="Detailed Records"
            description="Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions"
          />
          <div
            id="cyan-line"
            class="min-h-24 flex justify-center xl:min-w-8 xl:items-center xl:flex-1"
          >
            <div
              id="line"
              class="min-h-full w-2 bg-cyan-400 xl:min-w-full xl:min-h-2"
            >
            </div>
          </div>
          <FeatureCard
            img="images/icon-fully-customizable.svg"
            alt="markers, pens and different customizing tools"
            heading="Fully Customizable"
            description="Improve brand awareness and content discoverability through customizable links, supercharging audience engagement"
          />
        </div>
      </section>
      <Cta />
      <Footer />
    </main>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
  body {
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: relative;
  }

  .error {
    border: 3px solid #f46363;
    outline: 4px solid #f46363;
  }
  .error::placeholder {
    color: #f46363;
  }
  @media (min-width: 80rem) {
    #features-section {
      #feature-card:nth-child(1) {
        align-self: flex-start;
      }
      #feature-card:nth-child(3) {
        align-self: center;
      }
      #feature-card:nth-child(5) {
        align-self: flex-end;
      }
    }
  }
</style>
