<section
  id="cta-section"
  class="bg-[#3A3054] bg-[url('/images/bg-boost-mobile.svg')] py-[90px] flex flex-col items-center gap-4 xl:py-14 xl:bg-[url('/images/bg-boost-desktop.svg')] bg-no-repeat bg-cover"
>
  <h2 class="text-[28px] text-white font-bold xl:text-[40px]">
    Boost your links today
  </h2>
  <a
    href="#"
    class="bg-cyan-400 text-white px-10 py-[0.8125rem] rounded-[1.75rem] font-bold text-xl"
  >
    Get Started
  </a>
</section>
