<section
  class="flex flex-col px-6 overflow-x-hidden pb-40 lg:flex-row-reverse lg:px-0 lg:gap-[7.01dvw] lg:min-h-[60dvh]"
>
  <div id="image" class="pb-10 flex-1 lg:pb-0">
    <img
      class="min-w-[31.9375rem] lg:w-full lg:h-full"
      src="images/illustration-working.svg"
      alt="A person with a cyan shirt working on a computer sitting in front of a desk"
    />
  </div>
  <div
    id="description"
    class="flex flex-col items-center gap-8 flex-1 lg:justify-center lg:items-start lg:pl-[11.5dvw] lg:gap-[2.375rem]"
  >
    <div id="text" class="flex flex-col gap-4">
      <h1
        id="main-heading"
        class="text-[2.625rem] font-bold leading-[1.14] tracking-[-1.05px] text-center xl:text-[5rem] lg:text-left lg:leading-[1.125]"
      >
        More than just <br />shorter links
      </h1>
      <p
        class="text-[1.125rem] leading-[1.875rem] text-gray-400 text-center lg:text-left xl:text-[1.375rem] lg:leading-[1.6]"
      >
        Build your brand's recognition and get detailed insights on how your
        links are performing.
      </p>
    </div>
    <a
      href="#"
      class="bg-cyan-400 text-white px-10 py-[0.8125rem] rounded-[1.75rem] font-bold text-xl"
    >
      Get Started
    </a>
  </div>
</section>

<style>
  .clamp-heading {
    font-size: clamp(2.625rem, 2.217rem + 1.739vw, 5rem);
  }
</style>
